@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight:900;
}

.logo, 
h1 {
    color: #f9faf8;

}

img {
    display: flex;
    flex: 1 1 100%;
    min-height: fit-content;
}

.section-1-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-1-left {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    align-items: center;
    margin: 30px;
}
 
.content {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.right {
    margin-left: auto;
    margin-right: 50px;
    color: #e5e7eb;
    font-size: 18px;
}

.left {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    margin-left: 0;
    margin-right: auto; 
  }